*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  margin: 0;
}



#simple{
    display: grid;
    grid-template-areas: 
    "main aside"
    ;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-template-rows: auto;
    align-items: start;


}


h1 {
  color: #FFFFFF;
  margin-bottom: 10px;
 
}
h2{
    margin-top: 20px;
}



.meu-color {
  color: rgb(52, 44, 44) !important;
}


p{
    line-height: 1.6;
    text-align: justify;
    font-family: "Roboto", sans-serif;
    font-size: clamp(1rem, 1.2vw, 1.1rem);
    margin: 0 auto;
    max-width: 65ch;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
body{
    margin: 10px;
    background: linear-gradient(to bottom, #000000, #004d00, #00ff00);
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-spacing: normal;
    letter-spacing: normal;
    overflow-wrap: break-word;
    margin: 0;

}

    
main{
    grid-area: main;
    border: 1px solid black;
    background-color: #f5f5f5;
    margin-left: 20px;
    /*height:100% */
   
    
  
}

main #notOne{
  height:100%
}

aside{
    grid-area: aside;
    border: 1px solid black;
    background-color: #eaeaea;
    text-align: justify;
    margin-left: 10px;
    min-height: 400px;
    padding-bottom: 10px;
    padding-left: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;


}

aside h3{
    font-size: 1.2rem;

}

figure img{
    margin: auto 0;
    width: 100%;
    max-width:  600px;
    border: 1px solid black;
    max-height: 250px;
    margin-top: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    text-align: center;
}

figure {
    /*
    border: 1px solid black; */
    text-align: center;
    display:block;
    object-fit: cover;
}

figcaption{
    font-family: "Playpen Sans Deva", cursive;

}


ol li{
    max-width:65ch;
    margin-left: 1rem;
    /*
    font-family: Arial, sans-serif;
    */
    font-family: "Playpen Sans Deva", cursive;
    font-size: clamp(0.7rem, 1.0vw, 0.9rem);
    
}

ul li{
    text-align: justify;
    font-size: small;
    line-height: 1.2;
    /*
    font-family: Arial, sans-serif;
    */
    font-family: "Playpen Sans Deva", cursive;
    padding-right: 1rem;
    padding-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: clamp(0.7rem, 0.5vw, 0.9rem);
}

ol{
    margin-top: 1rem;
}

@media (max-width: 768px) {
  #simple {
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: 1fr;
  }

  main, aside {
    margin-left: 0;
  }
}


/*
.roboto-<fon> fon{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

*/