
{% extends 'layout.html' %}

<head>

    <title>
        {% block title %}
        🤖Inteligência Artificial
        {% endblock title %}
    </title>
 
</head>
<body>
    {% block content %}
        <h1 class="font-effect-shadow-multiple">Teste Dos Conhecimentos Front-End</h1>
         <div id="simple" class="fon">
        <main>
             <h2>Conheça O Plano Brasileiro de Inteligência Artificial (PBIA)</h2> 
            <p>Já Está disponível para acesso público a versão final do Plano Brasileiro de Inteligência Artificial (PBIA).
             O documento tem como objetivo posicionar o Brasil na vanguarda do desenvolvimento e da aplicação ética e sustentável 
             da inteligência  artificial (IA).
             O Plano prevê investimentos de até R$23 bilhões ao longo de quatro anos, incluindo a aquisição de um dos cinco supercomputadores 
             mais potentes do mundo, ampliando a capacidade nacional de processamento necessária para o avanço da IA.
             Esta é uma iniciativa estratégica do conselho Nacional de Ciência e Tecnologia (CCT), sob coordenação do <a href="https://www.instagram.com/mcti?igsh=cHhmZHdka2s3dHQy">@mcti</a>  e 
             com apoio técnico do <a href="https://www.instagram.com/cgee_oficial?igsh=Mm12N280dWgwd2xs">@cgee_oficial</a>.
             A proposta foi entregue ao presidente Luiz Inácio Lula da Silva durante a abertura da 5ª conferência Nacional de ciência, 
             Tecnologia e inovação (5CNCTI).
             O PBIA é um instrumento vivo, fruto de uma construção coletiva entre governo, academia e setor produtivo. Por isso, 
             o PBIA está em constante atualização.
            </p>
     <figure>
        <img src="ia_bem_de_todos.jpeg">
        <figcaption class="font-effect-shadow-multiple">Plano de Inteligência Artificial</figcaption>
     </figure>
        </main>
        <aside>
            <h3 class="font-effect-3d meu-color">🔑 Principais Tópicos Abordados no Plano Brasileiro de IA:</h3>
      <ol>
        <li><b>Educação e Capacitação para a IA</b>
            <ul>
                <li>Foco no desenvolvimento de habilidades em IA desde a educação básica até o ensino superior.</li>
                <li>Incentivo à formação de professores, pesquisadores e profissionais na área.</li>
                <li>Criação de cursos técnicos e programas de pós-graduação voltados para IA.</li>
            </ul>
        </li>
        <li><b>Pesquisa, Desenvolvimento e Inovação</b>
           <ul>
            <li>Apoio a projetos de P&D em IA.</li>
            <li>Estímulo à criação de centros de pesquisa e laboratórios de excelência.</li>
            <li>Incentivo à cooperação entre universidades, setor privado e governo.</li>
           </ul>
        </li>
        <li><b>Aplicações em Setores Estratégicos</b>
        <ul>
            <li>Saúde, agricultura, segurança pública, meio ambiente, energia, indústria, transportes e cidades inteligentes.</li>
            <li>Uso da IA para resolver desafios nacionais e melhorar a qualidade de vida da população.</li>
        </ul>
        </li>
        <li><b>Governança e Regulação</b>
           <ul>
            <li>Criação de normas éticas, jurídicas e regulatórias para o uso responsável da IA.</li>
            <li>Estímulo à transparência, responsabilidade e explicabilidade dos sistemas de IA.</li>
            <li>Proteção dos direitos humanos e combate a vieses e discriminação algorítmica.</li>
           </ul>
        </li>
        <li><b>Infraestrutura Tecnológica</b>
           <ul>
            <li>Desenvolvimento de infraestrutura digital (como cloud computing e data centers).</li>
            <li>Ampliação da conectividade e acesso a dados públicos de qualidade (dados abertos).</li>
            <li>Incentivo ao uso de supercomputadores e redes de alta performance.</li>
           </ul>
        </li>
        <li><b>Ambiente de Negócios</b>
           <ul>
            <li>Fomento ao empreendedorismo e às startups de IA.</li>
            <li>Apoio a parcerias público-privadas e investimentos privados.</li>
            <li>Incentivos fiscais e linhas de financiamento para empresas que adotam IA.</li>
           </ul>
        
        </li>
        <li><b>Cooperação Internacional</b>
          <ul>
            <li>Participação em fóruns globais de IA (como OCDE, UNESCO, G20).</li>
            <li>Estabelecimento de parcerias com países líderes em IA.</li>
            <li>Troca de boas práticas e desenvolvimento de padrões internacionais.</li>
          </ul>
        
        </li>
        <li><b>Direitos Humanos, Ética e Inclusão</b>
        
            <ul>
                <li>Centralidade do ser humano no uso da IA.</li>
                <li>Inclusão digital de populações vulneráveis.</li>
                <li>Incentivo ao uso da IA para redução das desigualdades sociais.</li>
            </ul>
        
        </li>
      </ol>
        </aside>
        </div>
  {% endblock%}
   
    
</body>
</html>